mixin header-top()

    +b('section').header-top
        .container 
            +e.wrap
                +e.wrap__city
                    +e.city-icon
                        img(src='/images/marker.svg')
                    +e('p').city-text Санкт-Петербург

                +e.wrap__telephone
                    +e.telephone-icon
                        img(src='/images/telephone.svg')
                    +e('p').telephone-text 8 800 785-25-35

                +e.wrap__logo
                    img(src='/images/logo.svg')

                +e.wrap__authorization
                    +e('p').authorization-entrance Вход
                    +e('p').authorization-registration Регистрация

                +e.wrap__actions
                    +e.actions-img
                        img(src='/images/favorite.svg')
                    +e.actions-img
                        img(src='/images/chart.svg')
                    +e.actions-img
                        img(src='/images/bag.svg')



