.header-top
    padding 24px 0 10px 0

    &__wrap
        display flex
        // justify-content space-between

    &__wrap__telephone
        display flex
        padding 27px 0 0 60px
        color $c-black

    &__wrap__city
        display flex
        padding-top 27px
        color $c-black
        &:after
            content ''
            width 4px
            height 4px
            border-top 2px solid $c-black !important
            border-right 2px solid $c-black !important
            margin-top 5px 
            transform rotate(135deg)
            display inline-block
            transition 1s
    
    &__city-text
        padding 0 8px 0 10px
        font-family 'Inter'
        font-weight 400
        font-size 14px
        line-height 100%

    &__telephone-text
        padding-left 10px
        font-family 'Inter'
        font-weight 400
        font-size 14px
        line-height 100%

    &__wrap__logo
        padding-left 196px


    &__wrap__authorization
        display flex
        padding 27px 0 0 227px
        height 40px
        color $c-black
        font-family 'Inter'
        font-weight 400
        font-size 14px
        line-height 100%


    &__authorization-entrance
        padding-right 10px
        border-right 1px solid $c-black

    &__authorization-registration
        padding-left 10px

    &__wrap__actions
        padding 27px 0 0 71px
        display flex

    &__actions-img
        padding-left 33px
        &:first-child
            padding-left 0
