$ff-Inter = 'Inter', sans-serif
$ff-Prata = 'Prata', sans-serif

// $c-black = #000000
$c-black = #303030
$c-white = #FFFFFF
$c-grey = #F8F8F8
$c-red = #9D1949
$c-light-grey = #F0F0F0
$c-yellow = linear-gradient(97.83deg, #F9ED32 -2.86%, #FBB040 84.88%);