extends /blocks/layout-default/layout-default
include /blocks/header-top/header-top
include /blocks/header-lower/header-lower
include /blocks/banner/banner
include /blocks/popular/popular
include /blocks/sale/sale
include /blocks/discounts/discounts
include /blocks/article/article

block head
	- var pageTitle = 'Project Template';

block content
	+header-top()
	+header-lower()
	+banner()
	+popular()
	+sale()
	+discounts()
	+article()

