mixin article()

    +b('section').article
        .container
            +e.wrap__title
                +e.title Статьи
                +e.links Читать все
            +e.wrap__content
                +e.content__items
                    +e.item-img
                        img(src='/images/article-1.png')
                    +e.item-date 21 сентября 2021
                    +e.item-text Обручальные кольца: тренды 2021
                +e.content__items
                    +e.item-img
                        img(src='/images/article-2.png')
                    +e.item-date 25 сентября 2021
                    +e.item-text Главные ювелирные тренды года
                +e.content__items
                    +e.item-img
                        img(src='/images/article-3.png')
                    +e.item-date 21 сентября 2021
                    +e.item-text Жемчуг: 7 малоизвестных фактов о культовом украшении
                +e.content__items
                    +e.item-img
                        img(src='/images/article-4.png')
                    +e.item-date 21 сентября 2021
                    +e.item-text Как отличить золото от подделки: 10 практических советов