mixin header-lower()

    +b('section').header-lower
        .container 
            +e.wrap
                +e('ul').wrap__menu
                    +e('li').menu-text 
                        +e('a').text-link(href="#") Каталог
                    +e('li').menu-text 
                        +e('a').text-link(href="#") Акции
                    +e('li').menu-text
                        +e('a').text-link(href="#") Бренды
                    +e('li').menu-text 
                        +e('a').text-link(href="#") Магазины
                    +e('li').menu-text
                        +e('a').text-link(href="#") О нас
                    +e('li').menu-text
                        +e('a').text-link(href="#") Доставка и оплата
                    +e('li').menu-text
                        +e('a').text-link(href="#") Статьи
                +e.wrap__search
                    +e.search-img
                        img(src='/images/union.svg')
                    +e('input')(type='text' placeholder='Поиск по сайту').search-input

