.header-lower

    &__wrap
        display flex
        justify-content space-between
        background-color $c-grey

    &__wrap__menu
        display flex

    &__menu-text
        padding-left 60px
        &:first-child
            padding-left 50px
