.popular 
    padding-top 110px

    &__wrap__heading
        font-family 'Prata'
        font-weight 400
        font-size 40px
        color $c-black

    &__wrap__product-cards
        padding-top 40px
        display flex
        justify-content space-between

    &__product-cards-content
        display flex
        flex-direction column
        align-items center
        width 200px
        height 259px
        background-color $c-grey

    &__content-img-rings 
        padding-top 61px

    &__content-img-earrings
        padding-top 46px

    &__content-img-engagement-rings
        padding-top 64px

    &__content-img-bracelets
        padding-top 52px

    &__content-img-necklace
        padding-top 47px

    &__content-img-watch
        padding-top 37px

    &__content-name
        font-family 'Inter'
        font-weight 40px
        font-size 16px
        color $c-black

    .name-rings
        padding-top 54px

    .name-earrings
        padding-top 39px

    .name-engagement-rings
        padding-top 50px
        text-align center
        width 148px

    .name-bracelets
        padding-top 45px

    .name-necklace
        padding-top 40px

    .name-watch
        padding-top 31px