.discounts
    padding-top 120px

    &__wrap__conent
        display flex
        justify-content space-between

    &__conent-card
        width 420px
        height 290px
        background-image url("/images/discount-background.jpg")
        display flex

    &__card-heading
        font-family 'Inter'
        font-weight 600
        font-size 20px
        line-height 160%
        color $c-black
        padding 72px 0 0 26px
        text-transform uppercase

    &__rebate-text
        font-family 'Inter'
        color $c-white
        font-weight 600
        font-size 24px
        
    &__rebate-percent
        font-family 'Inter'
        color $c-white
        font-weight 600
        font-size 36px
        padding-left 13px

    &__card-rebate
        width 194px
        margin-top 22px
        padding 3px 26px
        display flex
        align-items center
        background-color $c-turquoise

    &__card-img-wedding-rings
        padding-top 48px
        img
            width 200px

    .diamond-rings
        background-color $c-orange

    .wedding-rings
        background-color $c-golden